.connect_div {
    margin: 30px var(--page-margin) 0 var(--page-margin);
}

.connectButton {
    background-color: var(--checkout-col-heading-bg);
    border-radius: 12px;
    color: var(--text-color-light-1);
    font-family:var(--font-family-primary);
    font-size: 24px;
    padding-left: 48px;
    padding-right: 48px;
    height: 56px;
    /* letter-spacing: 1.84px; */
    transition: all 0.1s ease-in-out;
    font-weight: normal;
}

.connectButton:hover {
    opacity: 0.9;
    /*box-shadow: 1px 1px 1px var(--text-color-light-2);*/
    border: 1px solid white;
    /*border-top: 0px solid var(--checkout-button-border);*/
    /*border-right: 0px solid var(--checkout-button-border);*/
    /*border-bottom: 3px solid var(--checkout-button-border);*/
    /*border-left: 3px solid var(--checkout-button-border);*/
}

@media screen and (max-width: 1040px) {
    .connect_div {
        margin: 30px 100px 0 100px;
    }

    .connectButton {
        font-size: 54px;
    }
}

@media screen and (max-width: 750px) {
    .connect_div {
        margin: 20px 30px 0 30px;
    }

    .connectButton {
        font-size: 30px;
    }
}

